@import "../vars";
#bob-hamburger-button {
    display: inline-block;
}

.bob- {
    &line {
        width: 35px;
        height: 5px;
        background-color: $fontColor;
        margin: 6px 0;
    }
}
