<div id="bob-home">
  <div class="bob-titles">
    <h3 class="bob-first">Hi! the name's Roberto. I'm a Software Engineer who does Full Stack Web Development and specializes in <a target="_blank" href="https://play.google.com/store/apps/developer?id=Roberto+Hinojosa">Developing Apps</a>, Front-end Technologies, SQL and Data Visualization.</h3>
    <h3 class="bob-second blink">FOR HIRE!</h3>
    <h2 class="bob-third">Please have a look at some of my Mobile and Web Applications:</h2>
  </div>
  <bob-projects></bob-projects>
</div>
