@import "../vars";
#bob-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bob- {
    &titles {
        .bob-first {
            // TODO how to access & grand-parent (.bob-)
            // width: 300px;
            margin-bottom: 10px;
            margin: 0 35px;
        }
        .bob-second {
            // width: 300px;
            margin-bottom: 10px;
            margin: 35px;
        }
    }
}
