<div id="bob-projects">
  <div *ngFor="let project of environment.projects" class="bob-project">
    <div class="bob-name">{{project.name}}</div>
    <div class="bob-technologies">{{project.technologies}}</div>
    <a *ngIf="project.appStore" [href]="project.appStore" class="bob-app-store" target="_blank">Android App</a>
    <a [href]="project.url" class="bob-url" target="_blank">{{project.url}}</a>
    <!-- autoplay="autoplay" loop="loop" -->
    <!-- seems like is better if we don't include the type="video/mp4": https://www.broken-links.com/2010/07/08/making-html5-video-work-on-android-phones/ -->
    <video controls class="bob-video" (click)="playVideo($event)" [poster]="'assets/' + project.id + '.png'">
      <source [src]="'assets/' + project.id + '.m4v'" type="video/mp4">
      <source [src]="'assets/' + project.id + '.webm'" type="video/webm">
      <img class="bob-img-fail" [width]="environment.video.width" [alt]="project.name" [src]="'assets/' + project.id + '.png'">
    </video>
  </div>
</div>
